@model IEnumerable<crud_biblioteca.Models.Livro>

@{
    ViewData["Title"] = "Consulta de Livro";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-secondary">Cadastro</a>
</p>


    <div class="row">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Titulo)
                        </div>
                    </th>
                    <th>
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Codigo)
                        </div>
                    </th>
                    <th>
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    //adicionando modelItem e item.atributoModel exemplo item.Titulo
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>

                        <td>

                            <div class="row">

                                <div class="col-sm-2 m-1">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Editar</a>
                                </div>

                                <div class="col-sm-2 m-1">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Detalhes</a>
                                </div>

                                <div class="col-sm-2 m-1">
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Deletar</a>
                                </div>

                            </div>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
