@model IEnumerable<crud_biblioteca.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>

<p>
<a asp-action="Create" class="btn btn-sm btn-secondary">Nova Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoLivro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoLivro)
                </td>
                <td>
                    <div class="row">

                        <div class="col-sm-2 m-1">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Editar</a>
                        </div>

                        <div class="col-sm-2 m-1">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Detalhes</a>
                        </div>

                        <div class="col-sm-2 m-1">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Deletar</a>
                        </div>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
